{% extends "studentView/smain.html" %}

{% block content %}
<div class="column is-9 is-offset-2">
    <div class="fa-3x">
        <h1>Kayıtlı Sınıflar</h1>
    </div>
    <table class="table is-hoverable  arkaplan has-text-white">
        <thead>

        <tr >
            <th>Sınıf Adı</th>
            <th>Sınıf Öğretmeni</th>
            <th>Öğretmenin Mesajı</th>

        </tr>
        </thead>

        <tbody>
        <tr class="is-clickable "  onclick="window.location='{{ url_for('studentController.studentroom') }}'">

                <th>7/A Bilişim Teknolojileri</th>
                <th>Ayda Kahraman</th>
                <th>Derste verilen ödevi lütfen defterde çözüp fotoğrafını çekip sisteme yükleyiniz</th>

        </tr>
        <tr class="is-clickable " onclick="window.location='{{ url_for('studentController.studentroom') }}'">

                <th>7/A Tarih</th>
                <th>Ahmet L</th>
                <th>Sayfa 12 deki test soruları</th>

        </tr>
        </tbody>
</div>
{% endblock %}