{% extends "teacherView/tmain.html" %}

{% block content %}
<div class="">
    <div class="table-responsive">
        <table class="table bg-yesil  " style="max-width:800px;margin-top:5rem;color:white;">
            <thead style="">
            <tr>

                <th colspan="1" style="min-width:30px;" scope="col">Adı&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th colspan="1" scope="col" style="min-width:50px;">Konusu</th>
                <th colspan="300" scope="col">İşlem</th>
            </tr>
            </thead>
            <tbody>
            {% for row in rooms_assignments %}
            <tr>

                <td>{{ row.name }}</td>
                <td>{{ row.message }}</td>
                <td>
                    <div class=" d-flex justify-content-end">
                        <a href="" class="btn btn-warning btn-xs" data-bs-toggle="modal"
                           data-bs-target="#modalupdate{{ row.assignment_id }}">Değiştir</a>
                        <a href="{{url_for('teacherController.deleteassignment', assignment_id=row.assignment_id) }}"
                           class="btn btn-danger btn-xs"
                           style="margin-left:5px; justify"
                           onclick="return confirm('Ödevi silmek istediğinizden emin misiniz?')">Sil</a>
                    </div>
                </td>


            </tr>
            <div class="modal fade yazi-yesil" id="modalupdate{{ row.assignment_id }}" tabindex="-1"
                 aria-labelledby="guncelle{{ row.assignment_id }}"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalupdatelabel{{ row.assignment_id }}">Yeni Öğrenci</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{{url_for('teacherController.editassignment')}}" method="POST">
                            <div class="modal-body">
                                <input type="hidden" name="id" value="{{row.assignment_id}}">
                                <label>Ödev adı:</label>
                                <input type="text" name="odevadi" id="odevadi" class="form-control yazi-yesil assabastir"
                                       value="{{row.name}}" required
                                       autofocus>
                                <label>Ödev Konusu:</label>
                                <input type="text" name="odevkonusu" id="odevkonusu" class="form-control yazi-yesil assabastir"
                                       value="{{row.message}}" required
                                       autofocus>



                            </div>
                            <div class="modal-footer">

                                <button class="btn btn-outline-success" type="submit">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}