{% extends "teacherView/tmain.html" %}

{% block content %}

<div class="container" style="margin-top:50px;">

    <div class="d-flex flex-row justify-content-center">
        <div class="p-2"></div>
        <div class="p-2">Hoşgeldin {{session['teacher_name']}}.
        </div>
        <div class="p-2"></div>
    </div>


    <!-- Modal -->
    <div class="modal fade yazi-yesil" id="yenisinif" tabindex="-1" aria-labelledby="yenisiniflabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="yenisiniflabel">Yeni Sınıf Adı</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{url_for('teacherController.teacher')}}" method="POST" >
                    <div class="modal-body">

                        <input type="name" name="sinif_adi" id="name" class="form-control yazi-yesil assabastir"
                               placeholder="Örn: Tarih-9/B" required
                               autofocus>


                    </div>
                    <div class="modal-footer">

                        <button  class="btn btn-outline-success" type="submit">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-end">
        <div class="bg-light text-justify rounded" style="padding:5px; ">
            <p style="margin-top:1px;margin-bottom:1px;font-size:0.6rem;">
                <a data-bs-toggle="modal" data-bs-target="#yenisinif" href=""><i
                        class="far fa-plus-square fa-2x yazi-yesil">
                    Sınıf oluştur</i></a>
            </p>
        </div>
    </div>


    <hr/>


    <div class="container yazi-yesil">

        <div class="row row-cols-1 row-cols-md-5 mb-3 text-center">
              <!-- gelen öğretmenin kayıtlı sınıfı var mı kontrolü -->
             {% for row in tablo %}
            <div class="col">
                <div class="card mb-3 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">{{row["sinif_adi"]}}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Öğrenci Sayısı:{{row["ogrenci_sayisi"]}}</li>
                            <li>Ödev Sayısı: {{row["odev_sayisi"]}}</li>

                        </ul>
                        <a class="btn btn-lg w-100 btn-outline-success" href="{{url_for('teacherController.room', room_id=row['sinif_id'])}}" role="button">Sınıfa git</a>

                    </div>
                </div>
            </div>
                {% endfor %}


        </div>
    </div>
</div>


{% endblock %}